<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layout/Config :: common_head"></head>

<style>
	table {
		table-layout: fixed;
		word-break: break-all;
	}
	td.on {
	    background-color: silver;
	}
	.one-padding {
		padding: 1px !important;
	}
</style>
<header th:replace="layout/Header :: mainheader"></header>
<body>
	<div class="container" style="padding-top: 100px">
		<h5>필터</h5>
		<form class="mt-3">
			<select name="tier">
				<option value="ALL" selected="">티어 전체</option>
				<option value="IRON">아이언</option>
				<option value="BRONZE">브론즈</option>
				<option value="SILVER">실버</option>
				<option value="GOLD">골드</option>
				<option value="PLATINUM">플래티넘</option>
				<option value="DIAMOND">다이아</option>
				<option value="MASTER">마스터</option>
				<option value="GRANDMASTER">그랜드마스터</option>
				<option value="CHALLENGER">챌린저</option>
			</select>
		</form>
		<div class="row col-12 mt-3">
		<table class="col-3 table table-bordered">
			<td data-toggle="tooltip" data-placement="bottom" title="포지션 전체" onclick="position('ALL',this)">
				<svg class="position-icon all" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      				<path d="M22 2h-2.906L2 19.094V22h3.063L22 5.062V2z"></path>
      				<path d="M5 13.478l-3 3V2h14.478l-3 3H5v8.478zM19 10.819l3-3V22H7.82l3-3H19v-8.181z"></path>
  				</svg>
			</td>
			<td data-toggle="tooltip" data-placement="bottom" title="탑" onclick="position('TOP',this)">
				<svg class="position-icon top" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      				<path d="M16.172 5H5v11.172l-3 3V2h17.172l-3 3z"></path>
      				<path d="M22 22H4.828l3-3H19V7.828l3-3V22zM15 9H9v6h6V9z"></path>
  				</svg>
			</td>
			<td data-toggle="tooltip" data-placement="bottom" title="정글" onclick="position('JUG',this)">
				<svg class="position-icon jungle" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      				<path d="M5.094 0c9.247 11.173 8.508 20.655 6.983 24-3.853-4.623-6.261-6.368-6.983-6.662C4.708 10.788 2.204 7.652 1 6.903c4.752 1.734 6.903 5.512 7.385 7.184C9.09 8.532 6.485 2.381 5.094 0zM15.569 18.22v2.57l3.451-3.452c0-5.651 2.622-9.311 3.933-10.435-4.816 2.312-6.93 8.508-7.384 11.318zM15.569 12.04l-.803 2.248C14.509 12.49 13.482 10.38 13 9.552 14.605 5.763 17.522 1.605 18.78 0c-2.505 5.137-3.185 10.167-3.211 12.04z"></path>
  				</svg>
			</td>
			<td data-toggle="tooltip" data-placement="bottom" title="미드" onclick="position('MID',this)">
				<svg class="position-icon mid" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      				<path d="M22 2h-2.906L2 19.094V22h3.063L22 5.062V2z"></path>
      				<path d="M5 13.478l-3 3V2h14.478l-3 3H5v8.478zM19 10.819l3-3V22H7.82l3-3H19v-8.181z"></path>
  				</svg>
			</td>
			<td data-toggle="tooltip" data-placement="bottom" title="원딜" onclick="position('AD',this)">
				<svg class="position-icon bottom" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      				<path d="M7.828 19H19V7.828l3-3V22H4.828l3-3z"></path>
					<path d="M2 2h17.172l-3 3H5v11.172l-3 3V2zm7 13h6V9H9v6z"></path>    
  				</svg>
			<td data-toggle="tooltip" data-placement="bottom" title="서포터" onclick="position('SUP',this)">
				<svg class="position-icon support" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      				<path d="M13.991 8.327l2.248-2.036H24c-2.553 2.327-4.69 2.86-5.44 2.836h-1.45l2.03 2.91-3.553 1.527-1.596-5.237zM14.644 19.745L12.758 9.127l-.798.946V22l2.684-2.255zM10.009 8.327L7.76 6.291H0c2.553 2.327 4.69 2.86 5.44 2.836h1.45l-2.03 2.91 3.553 1.527 1.596-5.237zM9.277 19.745l1.886-10.618.797.946V22l-2.683-2.255zM9.048 2L8.25 3.382 11.876 7.6l3.627-4.218L14.56 2H9.048z"></path>
  				</svg>
			</td>
		</table>
		<div class="col-9" align="right">
			<button class="btn btn-outline-success" onclick="location.href='/board/write'">듀오 찾기</button>
		</div>
		</div>
		<table class="table table-list-search">
			<thead>
				<tr>
					<th style="width:15%">소환사명</th>
					<th style="width:8%">주포지션</th>
					<th style="width:13%">티어</th>
					<th style="width:12%">모스트</th>
					<th style="width:5%">승률</th>
					<th style="width:5%">KDA</th>
					<th style="width:10%">등록일시</th>
					<th style="width:25%">코멘트</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Board:${pages}" th:object="${Board}">
					<td><a th:text="*{user.userLolId}" th:href="@{/search(id=*{user.userLolId})}" style="color:black;"></a></td>
					<td th:text="*{position}"></td>
					<td th:text="*{user.userTier.soloTier + ' '+ user.userTier.soloRank}" style="font-size:15px"></td>
					<td>
						<img th:if="${Board.most1!='None'}"
							th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/champion/{champ}.png(champ=*{most1})}"
							class="rounded col one-padding" style="height: 35px; width: 35px">
						<img th:if="${Board.most2!='None'}"
							th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/champion/{champ}.png(champ=*{most2})}"
							class="rounded col one-padding" style="height: 35px; width: 35px">
						<img th:if="${Board.most3!='None'}"
							th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/champion/{champ}.png(champ=*{most3})}"
							class="rounded col one-padding" style="height: 35px; width: 35px">
					</td>
					<td th:if="${Board.user.userTier.soloLoss!=0}" th:text="${100 * Board.user.userTier.soloWin / (Board.user.userTier.soloLoss+ Board.user.userTier.soloWin)}+'%'"></td>
					<td th:if="${Board.user.userTier.soloLoss==0}" >0%</td>
					<td th:text="*{kda}"></td>
					<td th:text="*{createDate}"></td>
					<td th:text="*{content}"></td>
				</tr>
			</tbody>
		</table>
		<nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-center">
    			<li class="page-item" onclick="next(-1)" href="#">
      				<a class="page-link" aria-label="Previous">
        				<span aria-hidden="true">&laquo;</span>
        				<span class="sr-only">Previous</span>
      				</a>
    			</li>
    			<li class="page-item"><a class="page-link" th:href="@{/board/list?page={p}(p=${num})}" th:onclick="@{now({p}(p=${num}))}" th:text="${num+1}"></a></li>
				<li class="page-item"><a class="page-link" th:href="@{/board/list?page={p}(p=${num+1})}" th:onclick="@{now({p}(p=${num+1}))}" th:text="${num+2}"></a></li>
				<li class="page-item"><a class="page-link" th:href="@{/board/list?page={p}(p=${num+2})}" th:onclick="@{now({p}(p=${num+2}))}" th:text="${num+3}"></a></li>
    			<li class="page-item" onclick="next(1)" href="#">
      				<a class="page-link" aria-label="Next">
        				<span aria-hidden="true">&raquo;</span>
        				<span class="sr-only">Next</span>
      				</a>
    			</li>
  			</ul>
		</nav>
	</div>
</body>
<script>
	$(function() {
		$('[data-toggle="tooltip"]').tooltip()
	})
	
	function position(pos, obj){
		//document.getElementById("position").value = pos;
        var i;
        var tabNum = obj.parentNode.children.length; 
        for (i = 0; i < tabNum; i++)
            obj.parentNode.children[i].className = ''; 
        obj.className = 'on';
    }
	
	function now(i){
		index = i;
	}
	function next(i){
		console.log(i);
		if (index+i>=0){
			index+=i;
			location.href = "/board/list?page=" + index;
		}
	}
	
	var index = [[${num}]];
</script>
</html>