<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layout/Config :: common_head"></head>
<header th:replace="layout/Header :: mainheader"></header>
<body>
	<div class="container center-contents" style="padding-top: 300px;">
		<h1 class="mb-4">LOL.gg</h1>
		<div class="row">
			<div class="col-3"></div>
			<div class="input-group mb-3 col-6">
				<input type="text" class="form-control"
					placeholder="소환사명"
					aria-label="소환사명" aria-describedby="basic-addon2"
					id="summoner" name="summoner">
				<div class="input-group-append">
					<button class="btn btn-outline-success" onclick="go()">Seach</button>
				</div>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>
<script type="text/javascript">
	function go(){
		location.href="search?id="+document.getElementById("summoner").text;
	}
</script>
</html>