<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layout/Config :: common_head"></head>
<header th:replace="layout/Header :: mainheader"></header>
<body>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="container col-md-6" style="padding-top: 100px;">
			<div class="row mt-5">
				<div class="col-12">
					<label for="useridform">ID</label>
					<div id="useridform" class="row">
						<input type="text" class="form-control ml-3 col-md-9 col-sm-9"
							placeholder="아이디를 입력해주세요." name="userid" id="userid"/>
						<button class="btn btn-primary ml-3" onclick="idCheck()">중복확인</button>
					</div>
					<form method="POST" th:action="@{/signin}" class="mt-2" onsubmit="return checkValue()">
						<input type="hidden" id="id" name="id" value="" required />
						<div class="form-group">
							<label for="password">Password</label> <input type="password"
								class="form-control" id="password" placeholder="비밀번호를 입력해주세요."
								name="password" required />
						</div>

						<div class="form-group">
							<label for="email">LOL ID</label> <input type="text"
								class="form-control" id="lolId" placeholder="LOL 아이디을 입력해주세요."
								name="email" required />
						</div>
						<div class="form-group">
							<label for="username">E-mail</label> <input type="email"
								class="form-control" id="email" placeholder="이메일을 입력해주세요."
								name="lolid" required />
						</div>

						<button type="submit" class="btn btn-primary">회원가입</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</body>
<script>
	function idCheck(){
		var id = document.getElementById("userid").value;
	 
    	if (!id) {
	        alert("아이디를 입력하지 않았습니다.");
    	    return false;
    	} 
    	else if((id < "0" || id > "9") && (id < "A" || id > "Z") && (id < "a" || id > "z")){ 
        	alert("한글 및 특수문자는 아이디로 사용하실 수 없습니다.");
        	return false;
    	}
    	
    	axios.get("/signin/idcheck/"+id)
          .then((res) => {
        	  console.log(res);
        	  document.getElementById("id").value = id;
        	  alert("가능한 아이디입니다.")
          })
          .catch((error) => {
            alert("중복된 아이디입니다.");
          });
    }
	
	function checkValue(){
		var id1 = document.getElementById("userid").value;
		var id2 = document.getElementById("id").value;
		if (id2 && id1==id2){
			return true;
		}
		alert("아이디 중복확인을 해주세요.")
		return false;
	}

</script>

</html>