<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layout/Config :: common_head"></head>
<header th:replace="layout/Header :: mainheader"></header>
<style>
.no-padding {
	padding: 0 !important;
}

.one-padding {
	padding: 1px !important;
}

.test {
	border: 1px solid black;
}

.win {
	background: skyblue;
}

.lose {
	background: #FFD2D2;
}
</style>
<body>
	<div class="row" style="padding-top: 100px;">
		<div class="col-2"></div>
		<div class="col-8">

			<div class="row" th:if="${user!=null}">
				<img
					th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/profileicon/{iconnum}.png(iconnum=${user.profileIconId})}"
					class="img-thumbnail col-2">
				<div class="col">
					<h1 th:text="${user.userLolId}"></h1>
					<br>
					<form method="POST" th:action="@{/serach/refresh}">
						<input type="hidden" id="id" name="id"
							th:value="${user.userLolId}">
						<button type="submit" class="btn btn-outline-success btn-lg">갱신하기</button>
					</form>
				</div>

			</div>
			
			<hr>

			<div th:each="match : ${matches}">
				<div class="col" th:classappend="${match.win ? 'win' : 'lose'}">
					<div class="row">
						<div class="col-1 align-self-center one-padding text-center">
							<p th:if="${match.win}">승리</p>
							<p th:if="${!match.win}">패배</p>
						</div>
						<div class="col-2 align-self-center">
							<div class="row row-cols-2">
								<img
									th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/champion/{champ}.png(champ=${match.championName})}"
									class="rounded col one-padding" style="height: auto">
								<div class="col">
									<div class="row row-cols-2">
										<img
											th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/spell/{spell}.png(spell=${match.summoner1Id})}"
											class="img-thumbnail col no-padding" style="height: auto">
										<img
											th:src="@{https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/{primary}.png(primary=${match.primaryStyle})}"
											class="img-circle col no-padding" style="height: auto">
										<img
											th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/spell/{spell}.png(spell=${match.summoner2Id})}"
											class="img-thumbnail col no-padding" style="height: auto">
										<img
											th:src="@{https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/{subStyle}.png(subStyle=${match.subStyle})}"
											class="img-circle col no-padding" style="height: auto">

									</div>
								</div>
							</div>
						</div>
						<div class="col row text-center">
							<div class="col-6 align-self-center">
								<span
									th:text="@{{kill}/{death}/{assist}(kill=${match.kills},death=${match.deaths},assist=${match.assists})}"></span>
							</div>
							<div class="col-6 align-self-center">
								<p th:text="@{레벨{level}(level=${match.level})}" />
								<p th:text="@{{cs}CS(cs=${match.cs})}" />
							</div>
						</div>
						<div class="col-2 row align-self-center">
							<div class="col-10 row row-cols-3" style="padding-right: 10px">
								<img th:if="${match.item0!=0}"
									th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/item/{itemnum}.png(itemnum=${match.item0})}"
									class="img-thumbnail col no-padding"> <img
									th:if="${match.item1!=0}"
									th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/item/{itemnum}.png(itemnum=${match.item1})}"
									class="img-thumbnail col no-padding"> <img
									th:if="${match.item2!=0}"
									th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/item/{itemnum}.png(itemnum=${match.item2})}"
									class="img-thumbnail col no-padding"> <img
									th:if="${match.item3!=0}"
									th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/item/{itemnum}.png(itemnum=${match.item3})}"
									class="img-thumbnail col no-padding"> <img
									th:if="${match.item4!=0}"
									th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/item/{itemnum}.png(itemnum=${match.item4})}"
									class="img-thumbnail col no-padding"> <img
									th:if="${match.item5!=0}"
									th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/item/{itemnum}.png(itemnum=${match.item5})}"
									class="img-thumbnail col no-padding">
							</div>
							<div class="col">
								<img
									th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/item/{itemnum}.png(itemnum=${match.item6})}"
									class="img-thumbnail col no-padding">
							</div>

						</div>
						<div class="col-5 align-self-center">
							<table class="no-padding col" style="table-layout:fixed">
								<tr class="no-padding">
									<td th:each="user : ${match.match.matchUser}" class="one-padding" th:if="${user.teamId==100}">
										<img
											th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/champion/{champ}.png(champ=${user.championName})}"
											class="rounded one-padding" style="height: 30px"> <br>
										<a th:text="${user.user.userLolId}" class="one-padding" style="font-size:10px; color:black; text-overflow: hidden; width:30px;"></a>
									</td>
								</tr>
								<tr class="no-padding">
									<td th:each="user : ${match.match.matchUser}" class="one-padding" th:if="${user.teamId==200}">
										<img
											th:src="@{http://ddragon.leagueoflegends.com/cdn/11.9.1/img/champion/{champ}.png(champ=${user.championName})}"
											class="rounded one-padding" style="height: 30px"> <br>
										<a th:href="@{/search(id=${user.user.userLolId})}" th:text="${user.user.userLolId}" class="one-padding" style="font-size:10px; color:black; text-overflow: hidden; width:30px;"></a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</body>

</html>